NEXT_PUBLIC_SUPABASE_URL=https://easpbjjcanldhstlrzld.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVhc3BiampjYW5sZGhzdGxyemxkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk5MjQyMjQsImV4cCI6MjA5NTUwMDIyNH0.ylP7t_iVBodrPIrtoQ1xsPG7w_0Q2Rno_ElVH8DAkcY
NEXT_PUBLIC_SITE_URL=http://localhost:3000

AUTH_SERVICE_URL=http://localhost:8080
PROFILE_SERVICE_URL=http://localhost:8081
COMPANY_SERVICE_URL=http://localhost:8082
JOBS_SERVICE_URL=http://localhost:8083
